In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# NOTE: Make sure you run `pip install -U scikit-image` in your command line 
# to have the newest version of scikit-image installed.
# from skimage.io import imsave
%matplotlib inline

import os
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        if filename.endswith('.csv'):
            print(os.path.join(dirname, filename))

./gender_submission.csv
./test.csv
./train.csv

In [2]:
# Loading the train.csv file into the notebook
train_data = pd.read_csv("./train.csv")

# Outputs the first five rows of the table in train.csv
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# Loading the test.csv file into the notebook
test_data = pd.read_csv("./test.csv")

# Outputs the first five rows of the table in test.csv
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# Percentage of female passengers (in train.csv) who survived
women = train_data.loc[train_data.Sex == 'female']["Survived"]
rate_women = sum(women)/len(women)

print("% of women who survived:", rate_women)

% of women who survived: 0.7420382165605095

In [5]:
# Percentage of male passengers (in train.csv) who survived
men = train_data.loc[train_data.Sex == 'male']["Survived"]
rate_men = sum(men)/len(men)

print("% of men who survived:", rate_men)

% of men who survived: 0.18890814558058924

# Titanic Logistic Regression Model

In [7]:
train_data.fillna({col: train_data[col].mode()[0] for col in ['Pclass', 'Sex', 'SibSp', 'Parch']}, inplace=True)
train_data.fillna({col: train_data[col].mean() for col in ['Age']}, inplace=True)
test_data.fillna({col: test_data[col].mode()[0] for col in ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']}, inplace=True)
test_data.fillna({col: test_data[col].mean() for col in ['Age']}, inplace=True)

train_data = pd.get_dummies(train_data, columns=["Sex"], drop_first=True)
test_data = pd.get_dummies(test_data, columns=["Sex"], drop_first=True)

X_train = train_data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin", "Fare", "Embarked", "Survived"])
Y_train = train_data["Survived"]
X_test = test_data.drop(columns=["PassengerId", "Name", "Ticket", "Cabin", "Fare", "Embarked"])

X_train = np.array(X_train).T
Y_train = np.array(Y_train).reshape(1, -1)
X_test = np.array(X_test).T

print()
print('X_train shape {}'.format(X_train.shape))
print('Y_train shape {}'.format(Y_train.shape))
print('X_test shape {}'.format(X_test.shape))

X_train shape (5, 891)
Y_train shape (1, 891)
X_test shape (5, 418)

In [8]:
# Sigmoid function
import math
def sigmoid(z):
    e = math.e
    a = 1/(1 + e**(-z))
    return a

In [9]:
# Initializing Parameters
def init_zeros(dim):
    w = np.zeros((dim, 1))
    b = 0.0
    return w, b

In [10]:
# Forward and Backward Propagation
def forward_backward(X, Y, w, b):
    m = X.shape[1]

    # Forward    
    w = np.array(w)
    
    A = sigmoid(w.T @ X + b)        
    
    A = A.astype(np.float64)
    
    cost = -(1/m) * np.sum(Y * np.log(A) + (1 - Y) * np.log(1 - A))

    # Backward
    dZ = A - Y
    dw = (1/m) * X @ np.transpose(dZ)
    db = (1/m) * np.sum(dZ)

    cost = np.squeeze(cost)
    grads = {'dw': dw, 'db': db}
    
    return grads, cost

In [11]:
# Gradient Descent
def gradient_descent(X, Y, w, b, num_iters, alpha, verbose=False):
    costs = []
    m = X.shape[1]
    
    for i in range(num_iters):
        grads, cost = forward_backward(X, Y, w, b)

        dw = grads['dw']
        db = grads['db']

        w = w - alpha * dw
        b = b - alpha * db

        if i % 100 == 0:
            costs.append(cost)
        if i % 100 == 0 and verbose:
            print("Cost after iter {}: {}".format(i, cost))
        
    params = {'w': w, 'b': b}
        
    return params, costs

In [12]:
# Predict
def predict(X, w, b):
    m = X.shape[1]
    Y_pred = np.zeros((1, m))

    w = np.array(w).reshape(-1, 1)
    X = np.array(X, dtype=np.float64)  # <== This line is important
    
    A = sigmoid(w.T @ X + b)

    for i in range(A.shape[1]):
        Y_pred[0, i] = 1 if A[0][i] > 0.5 else 0
    
    return Y_pred

In [13]:
# Putting it together for the model
def model(X_train, Y_train, X_test, num_iters=1000, alpha=0.01, verbose=False):
    w, b = init_zeros(X_train.shape[0])
    params, costs = gradient_descent(X_train, Y_train, w, b, num_iters, alpha, verbose)
    
    w = params['w']
    b = params['b']
    
    Y_pred_train = predict(X_train, w, b)
    Y_pred_test = predict(X_test, w, b)
    
    result = {
        'w': w,
        'b': b,
        'costs': costs,
        'Y_pred_test': Y_pred_test
    }
    
    return result

In [14]:
# Evaluating
res = model(X_train, Y_train, X_test, num_iters=30000, alpha=0.002, verbose=True)

# Plot learning curve
costs = np.squeeze(res['costs'])
plt.plot(costs)
plt.ylabel('cost')
plt.xlabel('iterations (per hundreds)')
plt.title('Learning rate = 0.01')
plt.show()

Cost after iter 0: 0.6931471805599454
Cost after iter 100: 0.6554774848038105
Cost after iter 200: 0.6484700025878416
Cost after iter 300: 0.6423996314098745
Cost after iter 400: 0.6370876731927853
Cost after iter 500: 0.6323919423235781
Cost after iter 600: 0.6281994543952178
Cost after iter 700: 0.6244203907967167
Cost after iter 800: 0.6209832269959702
Cost after iter 900: 0.6178308547553087
Cost after iter 1000: 0.6149175217065382
Cost after iter 1100: 0.6122064278038342
Cost after iter 1200: 0.6096678422670233
Cost after iter 1300: 0.6072776294226069
Cost after iter 1400: 0.6050160941905884
Cost after iter 1500: 0.6028670768181561
Cost after iter 1600: 0.6008172417956679
Cost after iter 1700: 0.5988555180917403
Cost after iter 1800: 0.5969726574236389
Cost after iter 1900: 0.5951608847397786
Cost after iter 2000: 0.5934136208749923
Cost after iter 2100: 0.5917252618128903
Cost after iter 2200: 0.5900910024473036
Cost after iter 2300: 0.5885066954080183
Cost after iter 2400: 0.5869687375847777
Cost after iter 2500: 0.5854739785868492
Cost after iter 2600: 0.5840196466201896
Cost after iter 2700: 0.5826032882324372
Cost after iter 2800: 0.5812227191305521
Cost after iter 2900: 0.5798759838652111
Cost after iter 3000: 0.5785613226372208
Cost after iter 3100: 0.5772771438427841
Cost after iter 3200: 0.5760220012585484
Cost after iter 3300: 0.5747945749909843
Cost after iter 3400: 0.5735936554910355
Cost after iter 3500: 0.5724181300743707
Cost after iter 3600: 0.5712669714979449
Cost after iter 3700: 0.5701392282311532
Cost after iter 3800: 0.5690340161294822
Cost after iter 3900: 0.5679505112740432
Cost after iter 4000: 0.5668879437846599
Cost after iter 4100: 0.5658455924496447
Cost after iter 4200: 0.564822780043836
Cost after iter 4300: 0.5638188692293549
Cost after iter 4400: 0.5628332589519955
Cost after iter 4500: 0.5618653812610979
Cost after iter 4600: 0.5609146984928655
Cost after iter 4700: 0.5599807007669613
Cost after iter 4800: 0.5590629037542713
Cost after iter 4900: 0.5581608466803367
Cost after iter 5000: 0.5572740905343949
Cost after iter 5100: 0.5564022164584604
Cost after iter 5200: 0.555544824294614
Cost after iter 5300: 0.5547015312717636
Cost after iter 5400: 0.5538719708157483
Cost after iter 5500: 0.5530557914688384
Cost after iter 5600: 0.5522526559065204
Cost after iter 5700: 0.5514622400410271
Cost after iter 5800: 0.5506842322023932
Cost after iter 5900: 0.549918332388956
Cost after iter 6000: 0.549164251580195
Cost after iter 6100: 0.5484217111056371
Cost after iter 6200: 0.5476904420642901
Cost after iter 6300: 0.5469701847896835
Cost after iter 6400: 0.5462606883561539
Cost after iter 6500: 0.5455617101224833
Cost after iter 6600: 0.544873015309421
Cost after iter 6700: 0.5441943766079871
Cost after iter 6800: 0.5435255738157806
Cost after iter 6900: 0.5428663934987962
Cost after iter 7000: 0.5422166286765167
Cost after iter 7100: 0.5415760785282621
Cost after iter 7200: 0.5409445481189832
Cost after iter 7300: 0.5403218481428613
Cost after iter 7400: 0.5397077946832377
Cost after iter 7500: 0.5391022089875325
Cost after iter 7600: 0.5385049172559442
Cost after iter 7700: 0.5379157504428342
Cost after iter 7800: 0.5373345440697963
Cost after iter 7900: 0.5367611380495108
Cost after iter 8000: 0.5361953765195588
Cost after iter 8100: 0.5356371076854497
Cost after iter 8200: 0.5350861836721778
Cost after iter 8300: 0.534542460383688
Cost after iter 8400: 0.5340057973696815
Cost after iter 8500: 0.5334760576992428
Cost after iter 8600: 0.5329531078408133
Cost after iter 8700: 0.5324368175480773
Cost after iter 8800: 0.5319270597513601
Cost after iter 8900: 0.5314237104541752
Cost after iter 9000: 0.5309266486345817
Cost after iter 9100: 0.5304357561510453
Cost after iter 9200: 0.5299509176525193
Cost after iter 9300: 0.5294720204924799
Cost after iter 9400: 0.5289989546466796
Cost after iter 9500: 0.5285316126343916
Cost after iter 9600: 0.5280698894429413
Cost after iter 9700: 0.5276136824553338
Cost after iter 9800: 0.5271628913808016
Cost after iter 9900: 0.5267174181881068
Cost after iter 10000: 0.5262771670414491
Cost after iter 10100: 0.5258420442388361
Cost after iter 10200: 0.5254119581527855
Cost after iter 10300: 0.5249868191732386
Cost after iter 10400: 0.5245665396525687
Cost after iter 10500: 0.5241510338525803
Cost after iter 10600: 0.5237402178933999
Cost after iter 10700: 0.5233340097041642
Cost after iter 10800: 0.5229323289754222
Cost after iter 10900: 0.5225350971131661
Cost after iter 11000: 0.5221422371944188
Cost after iter 11100: 0.5217536739243033
Cost after iter 11200: 0.5213693335945302
Cost after iter 11300: 0.5209891440432373
Cost after iter 11400: 0.5206130346161242
Cost after iter 11500: 0.5202409361288247
Cost after iter 11600: 0.519872780830465
Cost after iter 11700: 0.519508502368358
Cost after iter 11800: 0.5191480357537864
Cost after iter 11900: 0.5187913173288308
Cost after iter 12000: 0.5184382847341995
Cost after iter 12100: 0.5180888768780229

KeyboardInterrupt: